{% ckan_extends %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if h.show_citations_for((pkg.type or 'dataset') ~ '_resource') %}
    {% snippet "snippets/citeproc_button.html", res_dict=res, list=true %}
  {% endif %}
{% endblock %}

{%- block footer %}
  {{ super() }}
  {% if h.show_citations_for((pkg.type or 'dataset') ~ '_resource') %}
    {% snippet "snippets/citeproc_modal.html", res_dict=res %}
  {% endif %}
{% endblock -%}

{%- block scripts %}
  {{ super() }}
  {% if h.show_citations_for((pkg.type or 'dataset') ~ '_resource') %}
    {% asset 'ckanext-citeproc/citeproc-js' %}
  {% endif %}
{% endblock -%}
